---
interface Character {
    id: string;
    image: string;
    name: string;
}
const fetchingCharater = async () => {
    const response = await fetch("https://rickandmortyapi.com/api/character");
    if (!response.ok) {
        throw new Error("Error al obtener los characteres");
    }
    const data = await response.json();
    console.log(data.result);
    return data.results;
};
const characters = await fetchingCharater();
---

<section class="grid lg:grid-cols-2 gap-4 md:grid-cols-1">
    <div
        class="border border-black w-full h-[550px] max-md:w-[95%] max-md:h-[700px] overflow-y-scroll overflow-x-hidden mb-10 bg-black mt-10 rounded-2xl shadow-2xl"
    >
        <div
            title="Api Rick and Morty"
            class="list-none mt-10 pb-10 mr-70 grid grid-cols-1 gap-x-90 gap-y-5 max-md:flex max-md:flex-col p-5"
        >
            {
                characters.map((char: Character) => (
                    <li
                        id="list-characters"
                        data-key={char.id}
                        class="w-[300px] border border-black p-5 rounded-2xl bg-gray-300 font-bold hover:scale-105 transition duration-300 relative lg:left-20 md:left-32"
                    >
                        <div onclick="dialog.showModal()">
                            <img src={char.image} alt={char.name} />
                            <p>{char.name}</p>
                            <div class="text-gray-300 justify-center bg-blue-700 mt-5 rounded-md p-2 cursor-pointer hover:bg-blue-500 transition duration-300 inline-block max-md:h-[50px] max-md:ml-[-10px]">
                                <button
                                    class="btn-agregar max-md:w-[150px] max-md:text-xs max-md:whitespace-nowrap"
                                    data-id={char.id}
                                    data-name={char.name}
                                    data-img={char.image}
                                >
                                    Agregar Character
                                </button>
                            </div>
                        </div>
                    </li>
                ))
            }
        </div>
    </div>
    <div
        class="mt-10 mb-[20px] ml-30 w-[100%] h-[20vh] max-md:ml-[-170px] max-md:w-[220px]"
    >
        <div
            id="contenedor-seleccion"
            class="contenedor-seleccion w-[390px] h-[500px] bg-blue-200 border-2 border-dotted p-4 overflow-x-scroll overflow-y-hidden flex flex-col flex-wrap max-md:w-[550px] max-md:overflow-x-scroll rounded-2xl max-md:ml-[-80px] max-md:mt-[50px] relative gap-x-2"
        >
        </div>
        <div class="mt-5">
            <span
                id="totalCharacters"
                class="text-xl font-bold font-mono text-yellow-300"
                >Characters: 0</span
            >
            <div class="bg-blue-600 rounded-xl w-[70%] px-20 py-2 text-center">
                <button id="pagar" class="p-2 font-bold font-mono">Pagar</button
                >
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <!-- <dialog id="dialog" class="w-[30%] h-[40vh] text-center">
            <p>Este es mi dialogo</p>
            <button class="bg-red-400" onclick="dialog.close()"
                >Cerrar Modal</button
            >
        </dialog> -->
    </div>
</section>
<script>
    interface CharacterData {
        id: number;
        name: string;
        image: string;
    }

    const dialog = document.querySelector("#dialog") as HTMLDialogElement;

    const openDialog = () => {
        dialog.showModal();
    };

    const closeDialog = () => {
        dialog.close();
    };

    const contenedor = document.getElementById("contenedor-seleccion")!;

    // Función para actualizar el total de personajes
    const updateTotal = () => {
        const totalElements = document.querySelector("#totalCharacters")!;
        const charactersOnly = contenedor.querySelectorAll("div[data-id]");
        totalElements.textContent = `Characters: ${charactersOnly.length}`;
    };
    updateTotal();

    //Función para cargar personajes desde el localStorage
    const loadFromLocalStorage = () => {
        const characterList = JSON.parse(
            localStorage.getItem("CharacterList") || "[]",
        );
        contenedor.innerHTML = "";

        if (characterList.length === 0) {
            contenedor.innerHTML = `
            <p class='text-black text-2xl text-center mt-15 font-mono'>Añade tu personaje al Carrito</p>
            <img class='carritoSvg' src='/carrito.svg'/>
            `;
        } else {
            characterList.forEach((char: CharacterData) => {
                const nuevo = document.createElement("div");
                nuevo.className =
                    "border p-2 mb-2 mt-1 rounded bg-white h-[800px] max-md:ml-[-3px] max-md:w-[270px] max-md:h-[60vh] max-md:gap-x-5";
                nuevo.dataset.id = char.id.toString();

                nuevo.innerHTML = `
                <img src='/delete.svg' class="btn-eliminar bg-red-400 text-white rounded-md p-1 mb-2 ml-75 max-md:ml-[210px]"/>
                <img src="${char.image}" alt="${char.name}" class='w-full rounded'/>
                <p class='text-center font-semibold mt-2'>${char.name}</p>
                `;
                contenedor.appendChild(nuevo);
            });
        }
        updateTotal();
    };

    loadFromLocalStorage();

    document.body.addEventListener("click", (e) => {
        const target = (e.target as HTMLElement) || null;

        if (target && target.classList.contains("btn-agregar")) {
            const name = target.dataset.name ?? "";
            const image = target.dataset.img ?? "";
            const id = target.dataset.id ?? "";

            if (!contenedor || !id || !name || !image) return;

            if (contenedor.querySelector(`[data-id="${id}"]`)) return;

            const nuevo = document.createElement("div");
            nuevo.className =
                "border p-2 mb-2 mt-1 rounded bg-white h-[800px] max-md:ml-[-3px] max-md:w-[270px] max-md:h-[60vh]";
            nuevo.dataset.id = id;

            nuevo.innerHTML = `
            <img src='/delete.svg' class="btn-eliminar bg-red-400 text-white rounded-md p-1 mb-2 ml-75 max-md:ml-[110px]"/>
            <img src="${image}" alt="${name}" class="w-full rounded" />
            <p class="text-center font-semibold mt-2">${name}</p>
            `;
            contenedor.appendChild(nuevo);

            const carritoMsg = contenedor.querySelector("p.text-2xl");
            const carritoSvg = contenedor.querySelector(".carritoSvg");
            if (carritoMsg) {
                carritoMsg.remove();
            }
            if (carritoSvg) {
                carritoSvg.remove();
            }

            //Guardar en el localStorage
            const characterList = JSON.parse(
                localStorage.getItem("CharacterList") || "[]",
            );
            characterList.push({ id, name, image });
            localStorage.setItem(
                "CharacterList",
                JSON.stringify(characterList),
            );

            updateTotal();
        }

        // Manejo del botón de eliminar
        if (target && target.classList.contains("btn-eliminar")) {
            const characterDiv = target.closest("div[data-id]") as HTMLElement;
            if (characterDiv) {
                const id = characterDiv.dataset.id;

                contenedor?.removeChild(characterDiv);

                let CharacterList: CharacterData[] = JSON.parse(
                    localStorage.getItem("CharacterList") || "[]",
                );
                CharacterList = CharacterList.filter(
                    (char: CharacterData) => char.id.toString() !== id,
                );

                localStorage.setItem(
                    "CharacterList",
                    JSON.stringify(CharacterList),
                );
                if (contenedor.children.length === 0) {
                    contenedor.innerHTML = `
                    <p class='text-black text-2xl text-center mt-15 font-mono'>Añade tu personaje al Carrito</p>
                    <img class='carritoSvg' src='/carrito.svg'/>
                    `;
                }
                updateTotal();
            }
        }
    });
</script>
<style>
    body {
        min-height: 190vh;
        margin: 0;
    }
    @media (max-width: 1900px) {
        body {
            min-height: 150vh;
            margin: 0;
        }
    }
    .contenedor-seleccion {
        box-shadow: 25px 25px 10px rgba(0, 0, 0, 0.333);
        transition: all 0.5s ease-in-out;
    }
    .contenedor-seleccion:hover {
        transform: translateY(-20px);
        box-shadow: 35px 35px 20px rgba(0, 0, 0, 0.333);
    }
</style>
